<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Converter Jpeg em PNG</h1>
    <div id="mainS">
        <form action="/converter" method="post" enctype="multipart/form-data">
            <input type="file" name="imagem_original" accept=".jpg, .jpeg" id="imagem_original" required>
            <input type="submit" value="Converter">
        </form>
    </div>
    <a href="/link1">link1</a>

<script src="../static/js.js"></script>
</body>
</html>